<div class="container">
    <form class="form mat-elevation-z8">
        <h1>Help Desk - Estudos Allan</h1>
        <img src="assets/img/login-image.svg" alt="Help Desk - Estudos Allan">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>E-mail</mat-label>         
          <input
          value="valdir@mail.com"
          [formControl]="email"
          required
          [(ngModel)]="creds.email"
          name="email" 
          matInput placeholder="Usar: valdir@mail.com">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
    
        <mat-form-field class="full-width" appearance="outline">
           <mat-label>Senha</mat-label>
         <input 
         value="123"
         [formControl]="senha"
          required
         [(ngModel)]="creds.senha" 
         name="senha" type="password" 
         matInput placeholder="Usar: 123">
         <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>

        <button (click)="logar()" [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-stroked-button color="primary">Primary</button>
        
      </form>      

</div>